<!DOCTYPE HTML>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NepaliTexTSummarizer</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	</head>
	<body>
		<nav id="navigator">
		<h1 >NEPALI TEXT SUMMARIZER</h1>
	</nav>
		<div id="background">
		 <form action="{{url_for('summary')}}" method="POST">
			<label id="text">Enter/Paste Text:</label><br>
			<textarea name="message" rows=25 cols=160 id="textbox"></textarea><br>
			<br>
			<p>
			 <input id="button" type="submit" value="SUMMARIZE">
			 <p>
		 </form>
	    </div>
	</body>
</html>